.form {
    width: 360px;
}

.label-delay {
    display: block;
    margin-bottom: 16px;
}

.label-state {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

label#text {
    display: block;
    width: 100%;
}

input[name="delay"] {
    display: block;
    width: 100%;
    margin-top: 8px;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin: 0;
}

input[type="radio"]:checked+.checkmark {
    border-color: var(--main-blue);
}

input[type="radio"]:checked+.checkmark::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-blue);
}

.checkmark {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border: 1px solid #757575;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.checkmark:hover,
fieldset:hover {
    border-color: black;
}



fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border: 1px solid var(--dark-grey);
    border-radius: 4px;
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
    padding: 0 24px 8px 24px;
}

legend {
    margin-bottom: 14px;
}

button {
    width: 100%;
}