/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {

  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-blue: #4e75ff;
  --secondary-blue: #6c8cff;
  --greyish-white: #FAFAFA;
  --light-grey: #cfcfcf;
  --dark-grey: #808080;
  --grey: #989898;
  --text-color: #2e2f42;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

input {
  font-family: inherit;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  border: 1px solid var(--dark-grey);
  border-radius: 4px;
  outline: transparent;
  width: 360px;
  height: 40px;
}

input:hover,
input:focus {
  border-color: #000;
}

input:active {
  border-color: var(--main-blue);
}

input:disabled {
  border-color: var(--dark-grey);
  background-color: var(--greyish-white);
  color: var(--dark-grey);
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  background: var(--main-blue);
  border: none;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;

}

button:hover {
  background-color: var(--secondary-blue);
}

button:disabled {
  background-color: var(--light-grey);
  color: var(--grey);
}

.timer {
  margin-top: 32px;
}

.error-alert {
  background-color: #EF4040 !important;
}

.success-alert {
  background-color: #59a10d !important;
}

.warning-alert {
  background-color: #ffa000 !important; 
}

strong {
  font-weight: 700;
}

.iziToast>.iziToast-close {
  background: url(../img/close.svg) no-repeat 50% 50% !important;
}

.iziToast>.iziToast-body .iziToast-icon.ico-error {
  background: url(../img/error-icon.svg) no-repeat 50% 50% !important;
}

.iziToast>.iziToast-body .iziToast-icon.ico-success {
  background: url(../img/success-icon.svg) no-repeat 50% 50% !important;
}

.iziToast>.iziToast-body .iziToast-icon.ico-warning {
  background: url(../img/warning-icon.svg) no-repeat 50% 50% !important;
}